fastapi
uvicorn
pypdf
python-multipart
langchain
langchain-community
langchain-core
langchain-text-splitters
supabase
langchain-groq
langchain-openai
langchain-huggingface
langchain-classic
numpy
scikit-learn
ddgs
huggingface_hub
